{% extends "base.html" %}

{% block htmltitle %}
  <title>MetaData-Material</title>
{% endblock %}

{% block scripts %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
{% endblock %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  有关更新，请通过 @MetaData-Material 联系我们 
  <a href="https://drenban.github.io/MetaData-Material/wechat.html" class="wechat-icon"><i class="fab fa-weixin"></i></a>
{% endblock %}

{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}